<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@1.*/css/pico.classless.min.css" />
</head>
<body>
  <main>
    <h1><%= title %></h1>
    <a href="/todos">To-Do List</a>
  </main>
</body>
</html>
