<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@1.*/css/pico.classless.min.css" />
</head>
<body>
  <main>
    <h1>Todos</h1>
    <ul>
      <% todos.forEach(function(t) { %>
        <li>
          <a href="/todos/<%= t.id %>"><%= t.todo %></a>
            - 
          <%= t.done ? 'done' : 'not done' %>
        </li>
      <% }); %>
    </ul>
  </main>
</body>
</html>
